body{
    background-color: beige;
}

h1{
    text-align: center;
    background-image: 
    linear-gradient(to right, rgba(255, 159, 204, 0.644), rgba(217, 157, 255, 0.744));
}

h2{
    text-align: center;
    background-image: 
        linear-gradient(to right, rgba(239, 114, 220, 0.644), rgba(143, 160, 239, 0.744)); 
    }