body{
    background-color: beige;
}

h1{
    text-align: center;
    background-image: 
    linear-gradient(to right, rgba(96, 72, 36, 0.644), rgba(239, 210, 143, 0.744));
}

h2{
    text-align: center;
    background-image: 
    linear-gradient(to right, rgba(96, 72, 36, 0.644), rgba(239, 210, 143, 0.744));  
}
.container {
    display: flex;
    align-items: center;
}

.table {
    margin-right: 150px; /* Отступ между таблицей и картинкой */
}

table {
    border-collapse: collapse;
}

input{
    border: 1px solid rgb(224, 135, 33);
    padding: 8px;
    width: 450px; /* Увеличивает ширину ячеек */
    
}

form {
    display: flex; 
    flex-direction: column;
}

form label, form input {
    margin-bottom: 15px;
}

